

### Forschungsfrage 1:

Wie groß sind die Unterschiede bzgl. der Anzahl folgender Bevölkerungsgruppen zwischen Kreuzberg und Wedding im Zeitverlauf (2007-2017)?

Personen mit Migrationshintergrund und Ausländer


Personen unter 15 und über 65

## 1. Datenimport:

In [43]:
import numpy as np
import pandas as pd

#### Import aller Tabellen für Kreuzberg (2007- 2017)

In [75]:
kreuzberg2007 = pd.read_csv("/Users/susannehelm/Documents/Uni/Urbane Zukunft/Data Science/Python Data Science/Daten/Forschungsdatensatz 3/CSV/ver3_Kreuzberg2007_TabelleGesamt.csv", sep= ";", index_col=0)
kreuzberg2008 = pd.read_csv("/Users/susannehelm/Documents/Uni/Urbane Zukunft/Data Science/Python Data Science/Daten/Forschungsdatensatz 3/CSV/ver3_Kreuzberg2008_TabelleGesamt.csv", sep= ";", index_col=0)
kreuzberg2009 = pd.read_csv("/Users/susannehelm/Documents/Uni/Urbane Zukunft/Data Science/Python Data Science/Daten/Forschungsdatensatz 3/CSV/ver3_Kreuzberg2009_TabelleGesamt.csv", sep= ";", index_col=0)
kreuzberg2010 = pd.read_csv("/Users/susannehelm/Documents/Uni/Urbane Zukunft/Data Science/Python Data Science/Daten/Forschungsdatensatz 3/CSV/ver3_Kreuzberg2010_TabelleGesamt.csv", sep= ";", index_col=0)
kreuzberg2011 = pd.read_csv("/Users/susannehelm/Documents/Uni/Urbane Zukunft/Data Science/Python Data Science/Daten/Forschungsdatensatz 3/CSV/ver3_Kreuzberg2011_TabelleGesamt.csv", sep= ";", index_col=0)
kreuzberg2012 = pd.read_csv("/Users/susannehelm/Documents/Uni/Urbane Zukunft/Data Science/Python Data Science/Daten/Forschungsdatensatz 3/CSV/ver3_Kreuzberg2012_TabelleGesamt.csv", sep= ";", index_col=0)
kreuzberg2013 = pd.read_csv("/Users/susannehelm/Documents/Uni/Urbane Zukunft/Data Science/Python Data Science/Daten/Forschungsdatensatz 3/CSV/ver3_Kreuzberg2013_TabelleGesamt.csv", sep= ";", index_col=0)
kreuzberg2014 = pd.read_csv("/Users/susannehelm/Documents/Uni/Urbane Zukunft/Data Science/Python Data Science/Daten/Forschungsdatensatz 3/CSV/ver3_Kreuzberg2014_TabelleGesamt.csv", sep= ";", index_col=0)
kreuzberg2015 = pd.read_csv("/Users/susannehelm/Documents/Uni/Urbane Zukunft/Data Science/Python Data Science/Daten/Forschungsdatensatz 3/CSV/ver3_Kreuzberg2015_TabelleGesamt.csv", sep= ";", index_col=0)
kreuzberg2016 = pd.read_csv("/Users/susannehelm/Documents/Uni/Urbane Zukunft/Data Science/Python Data Science/Daten/Forschungsdatensatz 3/CSV/ver3_Kreuzberg2016_TabelleGesamt.csv", sep= ";", index_col=0)
kreuzberg2017 = pd.read_csv("/Users/susannehelm/Documents/Uni/Urbane Zukunft/Data Science/Python Data Science/Daten/Forschungsdatensatz 3/CSV/ver3_Kreuzberg2017_TabelleGesamt.csv", sep= ";", index_col=0)

In [114]:
##Mit dem df.dropna() Befehl lassen sich die NaN-Werte in der .csv-Datei löschen


kreuzberg2007.dropna(axis="columns", inplace= True)
#kreuzberg2007.head()

kreuzberg2008.dropna(axis="columns", inplace= True)
#kreuzberg2008.head()

kreuzberg2009.dropna(axis="columns", inplace= True)
#kreuzberg2009.head()

kreuzberg2010.dropna(axis="columns", inplace= True)
#kreuzberg2010.head()

kreuzberg2011.dropna(axis="columns", inplace= True)
#kreuzberg2011.head()

kreuzberg2012.dropna(axis="columns", inplace= True)
#kreuzberg2012.head()

kreuzberg2013.dropna(axis="columns", inplace= True)
#kreuzberg2013.head()

kreuzberg2014.dropna(axis="columns", inplace= True)
#kreuzberg2014.head()

kreuzberg2015.dropna(axis="columns", inplace= True)
#kreuzberg2015.head()

kreuzberg2016.dropna(axis="columns", inplace= True)
#kreuzberg2016.head()

kreuzberg2017.dropna(axis="columns", inplace= True) 
kreuzberg2017.head() #--> Achtung hier fehlen Werte!
#kreuzberg2017.info()

,EinwohnerGesamt,Alterunter15,Alter15-25,Alter25-55,Alter55-65,Alter65+,AusländerGesamt,AllEinwMigra,EU15,EU27,HK_Polen,HK_EhemJug,HK_EhemSU,HK_Turk,HK_Arab,HK_übr,HK_nzOrt
RaumID,,,,,,,,,,,,,,,,,
2010101,6647,945,1021,3482,600,599,2860,4717,-,-,-,-,-,-,-,-,-
2010102,13433,2319,1777,6309,1269,1759,4455,9128,-,-,-,-,-,-,-,-,-
2010103,15380,2666,1970,7183,1549,2012,5424,10703,-,-,-,-,-,-,-,-,-
2010104,5015,836,638,2349,583,609,1652,3249,-,-,-,-,-,-,-,-,-
2020201,976,167,75,620,56,58,298,498,-,-,-,-,-,-,-,-,-

#### Import aller Tabellen für Wedding (2007-2017)

In [140]:
wedding2007 = pd.read_csv("/Users/susannehelm/Documents/Uni/Urbane Zukunft/Data Science/Python Data Science/Daten/Forschungsdatensatz 3/CSV/ver3_Wedding2007_TabelleGesamt.csv", sep=";", index_col=0)
wedding2008 = pd.read_csv("/Users/susannehelm/Documents/Uni/Urbane Zukunft/Data Science/Python Data Science/Daten/Forschungsdatensatz 3/CSV/ver3_Wedding2008_TabelleGesamt.csv", sep=";", index_col=0)
wedding2009 = pd.read_csv("/Users/susannehelm/Documents/Uni/Urbane Zukunft/Data Science/Python Data Science/Daten/Forschungsdatensatz 3/CSV/ver3_Wedding2009_TabelleGesamt.csv", sep=";", index_col=0)
wedding2010 = pd.read_csv("/Users/susannehelm/Documents/Uni/Urbane Zukunft/Data Science/Python Data Science/Daten/Forschungsdatensatz 3/CSV/ver3_Wedding2010_TabelleGesamt.csv", sep=";", index_col=0)
wedding2011 = pd.read_csv("/Users/susannehelm/Documents/Uni/Urbane Zukunft/Data Science/Python Data Science/Daten/Forschungsdatensatz 3/CSV/ver3_Wedding2011_TabelleGesamt.csv", sep=";", index_col=0)
wedding2012 = pd.read_csv("/Users/susannehelm/Documents/Uni/Urbane Zukunft/Data Science/Python Data Science/Daten/Forschungsdatensatz 3/CSV/ver3_Wedding2012_TabelleGesamt.csv", sep=";", index_col=0)
wedding2013 = pd.read_csv("/Users/susannehelm/Documents/Uni/Urbane Zukunft/Data Science/Python Data Science/Daten/Forschungsdatensatz 3/CSV/ver3_Wedding2013_TabelleGesamt.csv", sep=";", index_col=0)
wedding2014 = pd.read_csv("/Users/susannehelm/Documents/Uni/Urbane Zukunft/Data Science/Python Data Science/Daten/Forschungsdatensatz 3/CSV/ver3_Wedding2014_TabelleGesamt.csv", sep=";", index_col=0)
wedding2015 = pd.read_csv("/Users/susannehelm/Documents/Uni/Urbane Zukunft/Data Science/Python Data Science/Daten/Forschungsdatensatz 3/CSV/ver3_Wedding2015_TabelleGesamt.csv", sep=";", index_col=0)
wedding2016 = pd.read_csv("/Users/susannehelm/Documents/Uni/Urbane Zukunft/Data Science/Python Data Science/Daten/Forschungsdatensatz 3/CSV/ver3_Wedding2016_TabelleGesamt.csv", sep=";", index_col=0)
wedding2017 = pd.read_csv("/Users/susannehelm/Documents/Uni/Urbane Zukunft/Data Science/Python Data Science/Daten/Forschungsdatensatz 3/CSV/ver3_Wedding2017_TabelleGesamt.csv", sep=";", index_col=0)

In [145]:
wedding2007.dropna(axis="columns", inplace= True) 
#wedding2007.head()

wedding2008.dropna(axis="columns", inplace= True) 
wedding2008.head()

#wedding2009.dropna(axis="columns", inplace= True) ## --> funktioniert nicht bei floats?
#wedding2009.head()
#wedding2009.info() ##--> Warum sind die Werte hier floats und bei den übrigen Tabellen integers??


#wedding2010.dropna(how="all", inplace= True) --> floats
#wedding2010.head()

#wedding2011.head() ## floats

#wedding2012.head() ## floats

#wedding2013.head() ##floats

#wedding2014.head() ##floats

#wedding2015.head() ##floats

#wedding2016.head() ##floats

#wedding2017.head() ##floats

,EinwohnerGesamt,Alterunter15,Alter15-25,Alter25-55,Alter55-65,Alter65+,AusländerGesamt,AllEinwMigra,EU15,EU27,HK_Polen,HK_EhemJug,HK_EhemSU,HK_Turk,HK_Arab,HK_übr,HK_nzOrt
RaumID,,,,,,,,,,,,,,,,,
1033101,22474,3749,3297,10686,1998,2744,7984,12368,583,2363,1351,1275,560,4632,1372,1350,816
1033102,10513,1712,1580,5075,977,1169,3874,6112,354,988,454,630,244,2581,584,582,503
1033201,12349,2563,1723,5262,1104,1697,3891,7861,266,799,417,417,583,3382,1248,619,813
1033202,9273,1294,1124,4019,1020,1816,2501,4752,233,832,515,275,252,2032,399,501,461
1033203,12585,2190,1791,6027,1134,1443,4615,7457,319,1171,699,825,366,2793,914,850,538

## 2. Summen aller Personen unter 15 pro Jahr (2007-2017)